using UserLogin.Models;
@using UserLogin.Models
@model UserLogin.Models.UserModel


@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <p>A simple login Sytem</p>
    <p>welcome  @Model.Name</p>
</div>

