@model UserLogin.Models.UserModel

@{
    ViewBag.Title = "title";

}
<form method="post" action="/Login/Login">
    <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" style="border: 2px solid black"/>
              </div>
    <div class="form-group">
                <label for="password">Password</label>
                <input  type="password" id="password" name="password" class="form-control" placeholder="Enter Password" style="border: 2px solid black"/>
              </div>
    
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>