@model UserLogin.Models.UserModel

@{
    ViewBag.Title = "title";
}

<form method="post" action="/Login/Register">
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Name">Name</label>
            <input type="text" placeholder="name" class="form-control" id="Name" name="Name" style="border: 2px solid black">
        </div>
    </div>
    <div class="form-group col-md-6">
            <label for="Username">Username</label>
            <input type="text" class="form-control" placeholder="Username" VALUE="" id="Username" name="Username" style="border: 2px solid black">
        </div>
    

    <div class="form-group col-md-6">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="password" style="border: 2px solid black">
    </div>
    
    <div class="form-group col-md-6">
            <label for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="Password" name="ConfirmPassword" style="border: 2px solid black">
        </div>

    <button type="submit" name="Register" class="btn btn-primary">Register</button>
    @if (ViewBag.password == false)
    {
        <label for="Password">@ViewBag.message</label>
    }
    
    
</form>